In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
#loading the dataset to the Pandas DataFrame
df =pd.read_csv('/content/creditcard.csv')

In [5]:
#first 5 row of the dataset
df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [6]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
53566,46047,-2.885416,-2.647887,1.903441,3.726885,3.800798,-1.644480,-1.924198,0.707696,-1.070468,...,0.284893,-0.268122,0.977417,0.136853,-1.144367,-0.535616,0.098494,0.305740,19.02,0.0
53567,46048,1.061410,0.045830,0.970401,1.102883,-0.490685,0.219968,-0.424285,0.235960,0.016498,...,0.033158,0.067127,0.053801,-0.010221,0.209877,-0.484136,0.057583,0.028018,28.70,0.0
53568,46048,-0.202740,0.295074,1.924698,1.009344,-0.235931,-0.272232,0.261015,-0.162146,-0.583849,...,0.321731,1.056540,0.093902,0.608566,-0.931546,0.466156,0.016695,-0.024568,54.81,0.0
53569,46048,-0.730116,0.796820,2.122484,-1.318082,0.019762,-0.857857,0.975752,-0.399896,0.359189,...,-0.149736,0.093479,-0.056586,0.650087,-0.473889,0.662115,0.060486,-0.208536,4.53,0.0
53570,46050,0.791672,-0.522991,0.036747,1.204803,-0.262390,-0.056153,0.263614,-0.130209,0.125423,...,0.013131,-0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#dataset Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53571 entries, 0 to 53570
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    53571 non-null  int64
 1   V1      53571 non-null  float64
 2   V2      53571 non-null  float64
 3   V3      53571 non-null  float64
 4   V4      53571 non-null  float64
 5   V5      53571 non-null  float64
 6   V6      53571 non-null  float64
 7   V7      53571 non-null  float64
 8   V8      53571 non-null  float64
 9   V9      53571 non-null  float64
 10  V10     53571 non-null  float64
 11  V11     53571 non-null  float64
 12  V12     53571 non-null  float64
 13  V13     53571 non-null  float64
 14  V14     53571 non-null  float64
 15  V15     53571 non-null  float64
 16  V16     53571 non-null  float64
 17  V17     53571 non-null  float64
 18  V18     53571 non-null  float64
 19  V19     53571 non-null  float64
 20  V20     53571 non-null  float64
 21  V21     53571 non-null  float64
 22  V22     53571 non-null  float64
 23  V23     53570 non-null  float64
 24  V24     53570 non-null  float64
 25  V25     53570 non-null  float64
 26  V26     53570 non-null  float64
 27  V27     53570 non-null  float64
 28  V28     53570 non-null  float64
 29  Amount  53570 non-null  float64
 30  Class   53570 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 12.7 MB

In [9]:
#checking the number of the missing value in each column
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [10]:
# distribution of legit transtion and fraudlent transcation
df['Class'].value_counts()

0.0    53417
1.0      153
Name: Class, dtype: int64

This Dataset is highly unbalanced

0 -> Normal Transaction
1-> Fraudlent Transaction

In [11]:
# separating the data for analysis
legit = df[df.Class ==0]
fraud =df[df.Class ==1]

In [12]:
print(legit.shape)
print(fraud.shape)

(53417, 31)
(153, 31)

In [13]:
#statistical measure of the data
legit.Amount.describe()

count    53417.000000
mean        94.251260
std        252.353693
min          0.000000
25%          7.680000
50%         25.520000
75%         86.650000
max      12910.930000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()

count     153.000000
mean       97.616013
std       230.026856
min         0.000000
25%         1.000000
50%         7.610000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [15]:
# compare the value for both transations
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,30011.81811,-0.222505,-0.014659,0.722511,0.163565,-0.242775,0.109604,-0.097131,0.042665,0.104805,...,0.046251,-0.031568,-0.106396,-0.038408,0.008094,0.134794,0.019825,0.002289,0.003902,94.251260
1.0,27472.24183,-7.468948,5.326389,-10.100308,5.793812,-5.528864,-2.230554,-7.865700,3.617647,-3.492917,...,0.455720,0.891045,-0.218399,-0.277419,-0.084305,0.240593,0.136258,0.586389,0.028185,97.616013

Under-Sampling

Build a sample dataset containing similar distribution of normal transaction and Fraudulent Transactions

Number of Fraudlent Transaction -> 492

In [16]:
legit_sample = legit.sample(n = 153)

Concatenating two DataFrames

In [18]:
new_dataset =pd.concat([legit_sample , fraud], axis =0)

In [19]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
19092,30013,-0.375710,0.640316,0.605946,2.114027,-0.142571,0.318274,0.558572,-0.131488,-0.331790,...,0.054767,0.646130,0.308803,0.031662,-1.102696,-0.239531,0.065071,0.176015,75.00,0.0
39145,39713,0.904223,-0.955640,0.703484,0.483905,-0.958454,0.729902,-0.797281,0.360672,-0.926982,...,-0.061830,0.002822,-0.050596,-0.336394,0.128957,-0.269799,0.066401,0.043331,149.00,0.0
41773,40820,-1.317147,1.684283,0.363319,-0.131682,0.442548,0.741663,0.203101,0.483156,-0.078551,...,-0.275645,-0.461620,-0.046418,-1.353521,-0.410861,0.237597,0.271973,0.099883,5.85,0.0
6166,7161,0.977383,-0.108788,0.438855,1.615043,-0.299503,0.574643,-0.601919,0.333926,2.154145,...,-0.180445,-0.191207,-0.175217,-0.473556,0.507403,-0.282796,0.033076,0.035200,71.22,0.0
31643,36450,1.506013,-0.248409,-0.531060,-0.861973,-0.145586,-0.898086,0.015894,-0.406709,-1.228967,...,0.146066,0.400904,-0.279472,-0.375898,0.934593,-0.036419,-0.024481,-0.004359,15.00,0.0

In [20]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
50211,44393,-4.617461,3.663395,-5.297446,3.880960,-3.263551,-0.918547,-5.715262,0.831040,-2.457034,...,2.698175,-0.027081,0.366775,-0.123011,-0.300457,-0.239996,-0.183463,-0.073360,1.00,1.0
50537,44532,-0.234922,0.355413,1.972183,-1.255593,-0.681387,-0.665732,0.059110,-0.003153,1.122451,...,0.220670,0.912107,-0.286338,0.451208,0.188315,-0.531846,0.123185,0.039581,1.00,1.0
52466,45463,-1.476893,2.122314,-1.229470,1.201849,-0.343264,-1.317704,-1.528142,-0.620953,-1.213040,...,1.186036,-0.040215,-0.238930,0.110144,0.045418,-0.569232,0.481019,-0.047555,1.00,1.0
52521,45501,1.001992,0.047938,-0.349002,1.493958,0.186939,0.190966,-0.001112,0.147140,0.580415,...,-0.334417,-1.014315,-0.128427,-0.946242,0.456090,-0.453206,0.046627,0.064698,105.99,1.0
52584,45541,-1.519244,2.308492,-1.503599,2.064101,-1.000845,-1.016897,-2.059731,-0.275166,-1.562206,...,1.307871,0.102826,-0.017746,0.149696,-0.096602,-0.369115,-0.019244,-0.208319,1.00,1.0

In [21]:
new_dataset['Class'].value_counts()

0.0    153
1.0    153
Name: Class, dtype: int64

In [22]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,30117.333333,-0.277585,-0.115127,0.867504,0.126551,-0.138454,-0.128070,-0.169057,0.082362,0.046111,...,0.065798,-0.004702,-0.020214,-0.075511,0.011434,0.085623,-0.052080,-0.017661,0.004281,84.991765
1.0,27472.241830,-7.468948,5.326389,-10.100308,5.793812,-5.528864,-2.230554,-7.865700,3.617647,-3.492917,...,0.455720,0.891045,-0.218399,-0.277419,-0.084305,0.240593,0.136258,0.586389,0.028185,97.616013

Splitting the data into Feature and Targets

In [25]:
X = new_dataset.drop(columns='Class' ,axis=1)
Y = new_dataset['Class']

In [26]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
19092  30013 -0.375710  0.640316  0.605946  2.114027 -0.142571  0.318274
39145  39713  0.904223 -0.955640  0.703484  0.483905 -0.958454  0.729902
41773  40820 -1.317147  1.684283  0.363319 -0.131682  0.442548  0.741663
6166    7161  0.977383 -0.108788  0.438855  1.615043 -0.299503  0.574643
31643  36450  1.506013 -0.248409 -0.531060 -0.861973 -0.145586 -0.898086
...      ...       ...       ...       ...       ...       ...       ...
50211  44393 -4.617461  3.663395 -5.297446  3.880960 -3.263551 -0.918547
50537  44532 -0.234922  0.355413  1.972183 -1.255593 -0.681387 -0.665732
52466  45463 -1.476893  2.122314 -1.229470  1.201849 -0.343264 -1.317704
52521  45501  1.001992  0.047938 -0.349002  1.493958  0.186939  0.190966
52584  45541 -1.519244  2.308492 -1.503599  2.064101 -1.000845 -1.016897

             V7        V8        V9  ...       V20       V21       V22  \
19092  0.558572 -0.131488 -0.331790  ... -0.161405  0.054767  0.646130
39145 -0.797281  0.360672 -0.926982  ... -0.351990 -0.061830  0.002822
41773  0.203101  0.483156 -0.078551  ...  0.576278 -0.275645 -0.461620
6166  -0.601919  0.333926  2.154145  ... -0.170769 -0.180445 -0.191207
31643  0.015894 -0.406709 -1.228967  ...  0.151676  0.146066  0.400904
...         ...       ...       ...  ...       ...       ...       ...
50211 -5.715262  0.831040 -2.457034  ... -0.346456  2.698175 -0.027081
50537  0.059110 -0.003153  1.122451  ... -0.003469  0.220670  0.912107
52466 -1.528142 -0.620953 -1.213040  ...  0.276893  1.186036 -0.040215
52521 -0.001112  0.147140  0.580415  ...  0.016004 -0.334417 -1.014315
52584 -2.059731 -0.275166 -1.562206  ...  0.175019  1.307871  0.102826

            V23       V24       V25       V26       V27       V28  Amount
19092  0.308803  0.031662 -1.102696 -0.239531  0.065071  0.176015   75.00
39145 -0.050596 -0.336394  0.128957 -0.269799  0.066401  0.043331  149.00
41773 -0.046418 -1.353521 -0.410861  0.237597  0.271973  0.099883    5.85
6166  -0.175217 -0.473556  0.507403 -0.282796  0.033076  0.035200   71.22
31643 -0.279472 -0.375898  0.934593 -0.036419 -0.024481 -0.004359   15.00
...         ...       ...       ...       ...       ...       ...     ...
50211  0.366775 -0.123011 -0.300457 -0.239996 -0.183463 -0.073360    1.00
50537 -0.286338  0.451208  0.188315 -0.531846  0.123185  0.039581    1.00
52466 -0.238930  0.110144  0.045418 -0.569232  0.481019 -0.047555    1.00
52521 -0.128427 -0.946242  0.456090 -0.453206  0.046627  0.064698  105.99
52584 -0.017746  0.149696 -0.096602 -0.369115 -0.019244 -0.208319    1.00

[306 rows x 30 columns]

In [27]:
print(Y)

19092    0.0
39145    0.0
41773    0.0
6166     0.0
31643    0.0
        ...
50211    1.0
50537    1.0
52466    1.0
52521    1.0
52584    1.0
Name: Class, Length: 306, dtype: float64

Split the data into Training data and Testing Data

In [29]:
X_train , X_test , Y_train ,Y_test = train_test_split(X ,Y, test_size=0.2 , stratify=Y , random_state=2)

In [30]:
print(X.shape , X_train.shape , X_test.shape)

(306, 30) (244, 30) (62, 30)

Model Training

Logistic Regression

In [33]:
model = LogisticRegression()

In [34]:
# train the Logistic Regression Model with Training Data
model.fit(X_train , Y_train )

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [36]:
# accuracy on training data
X_train_prediction = model.predict(X_train )
training_data_accuracy =accuracy_score(X_train_prediction , Y_train)

In [37]:
print('Accuracy on training data : ', training_data_accuracy)

Accuracy on training data :  0.9836065573770492

In [38]:
# accuracy on test data
X_test_prediction = model.predict(X_test )
test_data_accuracy =accuracy_score(X_test_prediction , Y_test)

In [39]:
print('Accuracy on test data : ', test_data_accuracy)

Accuracy on test data :  0.9354838709677419